# Ignore everything:
*

# Except for the SenseMe related directories:
!examples/
!examples/*
!examples/200.SenseMe/
!examples/200.SenseMe/**

!hardware/
!hardware/*
!hardware/SenseMe/
!hardware/SenseMe/**
    
!documents/
!documents/*